# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

equip_processing.lua
export.lua
flow.lua
gearswap.lua
helper_functions.lua
packet_parsing.lua
readme.md
README.md
refresh.lua
statics.lua
targets.lua
triggers.lua
user_functions.lua
validate.lua
version_history.txt
data/User-Globals.lua
beta_examples_and_information/*
data/instructions.txt
libs/Mote-*
libs/rev1/*
*_Gear.lua
*_Crafting.lua
*-Items.lua
*-Globals.lua
data/export/*
data/common/*
data/User/*
data/Extras/*
libs/closetCleaner.lua
Rename.bat
Modes.lua
organizer-lib.lua
data/GSstuff/Hlyknght_BLU.lua
data/GSstuff/Hlyknght_PLD.lua
data/Hlyknght/Aurlie_GEO.lua
data/Hlyknght/Dapollyon_blu.lua
data/Hlyknght/Hlyknght_BRD.lua
data/Hlyknght/Hlyknght_COR.lua
data/Hlyknght/Hlyknght_RNG.lua
data/Hlyknght/Hlyknght_RUN.lua
data/Hlyknght/Hlyknght_SAM.lua
data/Hlyknght/Hlyknght_THF.lua
data/Hlyknght/Lylac_BRD.lua
data/Roque/Aurlie_GEO.lua
data/skillup.lua
Gearswap-Skillup-master.zip
libs/no_interruptions.lua
report/Roque_report.txt
